<header class="header-section" [class.sticky]="isSticky">
  <div class="container-fluid px-4">
    <div class="d-flex justify-content-between align-items-center py-3">
      <a routerLink="/" class="logo">
        <img src="assets/img/logo.png" alt="Logo" />
      </a>
      <nav class="nav-menu" [class.active]="menuOpen">
        <div class="menu-close d-md-none text-end mb-4" (click)="toggleMenu()">
          <i class="bi bi-x-lg fs-4"></i>
        </div>
        <ul class="mainmenu list-unstyled mb-0 gap-md-4">
          <li
            *ngFor="let item of menu"
            [class.active]="item.active"
            class="menu-link"
          >
            <a [routerLink]="item.url" (click)="onNavigate()" class="nav-link">
              {{ item.label }}
              <i *ngIf="item.children" class="bi bi-chevron-down ms-1"></i>
            </a>
            <ul
              class="dropdown list-unstyled"
              *ngIf="item.children && item.open"
            >
              <li *ngFor="let child of item.children">
                <a
                  [routerLink]="child.url"
                  (click)="onNavigate()"
                  class="dropdown-link"
                >
                  {{ child.label }}
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="mobile-login d-md-none mt-4 text-center">
          <button
            class="btn btn-primary w-100 login-btn"
            routerLink="/auth/login"
          >
            Login
          </button>
        </div>
      </nav>

      <div class="actions">
        <button class="btn btn-primary login-btn" routerLink="/auth/login">
          Login
        </button>
      </div>

      <div class="canvas-open d-md-none" (click)="toggleMenu()">
        <i class="bi bi-list fs-3"></i>
      </div>
    </div>
  </div>
  <div
    class="offcanvas-overlay"
    [class.active]="menuOpen"
    (click)="toggleMenu()"
  ></div>
</header>
