
<div class="card p-3 shadow-sm">
  <h5 class="mb-3">Booking Details</h5>
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
             <th>#</th>
        
        <th>Customer Name</th>
        <th>Room No</th>
        <th>Check-In</th>
        <th>Check-Out</th>
        <th>Booking Status</th>
       
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let b of BookingList; let i = index">
        <td>{{ i + 1 }}</td>
        
        <td>{{ b.customerName }}</td>
        <td>{{ b.roomNo }}</td>
        <td>{{ b.checkIn }}</td>
        <td>{{ b.checkOut }}</td>
        
        <!-- Booking Status -->
        <td>
          <span class="badge bg-success" *ngIf="b.bookingStatus === 'Confirmed'">Confirmed</span>
          <span class="badge bg-warning text-dark" *ngIf="b.bookingStatus === 'Pending'">Pending</span>
          <span class="badge bg-danger" *ngIf="b.bookingStatus === 'Cancelled'">Cancelled</span>
        </td>

</table>
</div>

