<div class="container mt-4 d-flex justify-content-center">
  <div class="card p-4 shadow-sm payment-card">
    <h5 class="mb-3 text-center">Payment Details</h5>

    <div class="payment-list">
      <div class="payment-item" *ngFor="let p of paymentList; let i = index">
        <div class="payment-info">
          <span class="label">#</span>
          <span class="value">{{ i + 1 }}</span>
        </div>
        <div class="payment-info">
          <span class="label">Transaction Id:</span>
          <span class="value">{{ p.transactionId }}</span>
        </div>
        <div class="payment-info">
          <span class="label">Phone:</span>
          <span class="value">{{ p.phoneNumber }}</span>
        </div>
        <div class="payment-info">
          <span class="label">Amount:</span>
          <span class="value">{{ p.amount }}</span>
        </div>
        <div class="payment-info">
          <span class="label">Status:</span>
          <span class="value">
            <span class="badge bg-success" *ngIf="p.paymentStatus === 'Success'"
              >Success</span
            >
            <span
              class="badge bg-warning text-dark"
              *ngIf="p.paymentStatus === 'Pending'"
              >Pending</span
            >
            <span class="badge bg-danger" *ngIf="p.paymentStatus === 'Failed'"
              >Failed</span
            >
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
