<div class="container-fluid mt-4">
  <h3 class="page-title">Payment Details</h3>

  <div class="table-responsive mt-3">
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Transaction ID</th>
          <th>Phone</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let p of paymentList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ p.transactionId }}</td>
          <td>{{ p.phoneNumber }}</td>
          <td>{{ p.amount }}</td>
          <td>
            <span
              class="badge"
              [ngClass]="{
                'bg-success': p.paymentStatus === 'Success',
                'bg-warning text-dark': p.paymentStatus === 'Pending',
                'bg-danger': p.paymentStatus === 'Failed'
              }"
            >
              {{ p.paymentStatus }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
