<div class="">

  <!-- STEP 1 - BOOKING -->
<!--   <div *ngIf="step === 1">
    <div class="card shadow-sm mb-4">
      <div class="card-header bg-success text-white">
        <h5 class="mb-0">Step 1: Booking Details</h5>
      </div>

      <div class="card-body">
        <form [formGroup]="bookingForm">

          <div class="row g-3">

            <div class="col-md-6">
              <label class="form-label">Property</label>
              <input type="text" class="form-control" value="Property A" disabled />
            </div>

            <div class="col-md-6">
              <label class="form-label">Room Type</label>
              <select class="form-select" formControlName="roomType">
                <option>Single Bed</option>
                <option>Double Sharing</option>
                <option>Triple Sharing</option>
              </select>
            </div>

            <div class="col-md-6">
              <label class="form-label">Move-in Date</label>
              <input type="date" class="form-control" formControlName="moveInDate" />
            </div>

            <div class="col-md-6">
              <label class="form-label">Duration (Months)</label>
              <input type="number" min="1" class="form-control"
                     placeholder="Enter months" formControlName="duration" />
            </div>

            <div class="col-12">
              <label class="form-label">Special Requirements</label>
              <div class="rte-box" contenteditable="true"
                   (input)="updateSpecialReq($event)">
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">Monthly Rent</label>
              <input type="text" class="form-control" value="₹10,000" disabled>
            </div>

            <div class="col-md-6">
              <label class="form-label">Security Deposit</label>
              <input type="text" class="form-control" value="₹20,000" disabled>
            </div>

          </div>

          <button type="button"
                  class="btn btn-success mt-4 float-end"
                  (click)="goToStep(2)">
            Continue → Payment
          </button>

        </form>
      </div>

    </div>
  </div> -->

  <!-- STEP 1: BOOKING DETAILS -->
<!--  <div *ngIf="step === 1">
    <div class="card shadow-sm mb-4">
      <div class="card-header bg-success text-white">
        <h5 class="mb-0">Step 1: Booking Details</h5>
      </div>

      <div class="card-body">
        <form [formGroup]="bookingForm">

          <div class="row g-3"> -->

            <!-- Property Hardcoded -->
          <!--   <div class="col-md-6">
              <label class="form-label">Property</label>
              <input type="text" class="form-control" value="Property A" disabled />
            </div>
 -->
            <!-- Room Type Hardcoded -->
       <!--      <div class="col-md-6">
              <label class="form-label">Room Type</label>
              <input type="text" class="form-control" value="Single Bed" disabled />
            </div>
 -->
            <!-- Move-in Date -->
          <!--   <div class="col-md-6">
              <label class="form-label">Move-in Date <span class="text-danger">*</span></label>
              <input
                type="date"
                class="form-control"
                formControlName="moveInDate"
                [class.is-invalid]="f['moveInDate'].touched && f['moveInDate'].invalid" />
              <div class="invalid-feedback">Move-in date is required.</div>
            </div>
 -->
            <!-- Duration Dropdown -->
         <!--    <div class="col-md-6">
              <label class="form-label">Duration (Months) <span class="text-danger">*</span></label>
              <select class="form-select"
                      formControlName="duration"
                      [class.is-invalid]="f['duration'].touched && f['duration'].invalid">
                <option value="">Select Duration</option>
                <option *ngFor="let m of monthsList" [value]="m">{{ m }} Month(s)</option>
              </select>
              <div class="invalid-feedback">Duration is required.</div>
            </div> -->

            <!-- Checkout Date Auto -->
           <!--  <div class="col-md-6">
              <label class="form-label">Check-out Date</label>
              <input type="text" class="form-control" formControlName="checkOutDate" readonly />
            </div>
 -->        
           <!-- Monthly Rent -->
<!-- <div class="col-md-6">
  <label class="form-label">Monthly Rent <span class="text-danger">*</span></label>
  <input type="number"
         class="form-control"
         placeholder="Enter monthly rent"
         formControlName="monthlyRent"
         [class.is-invalid]="f['monthlyRent'].touched && f['monthlyRent'].invalid" />
  <div class="invalid-feedback">Monthly rent is required.</div>
</div> -->

<!-- Security Deposit -->
<!-- <div class="col-md-6">
  <label class="form-label">Security Deposit <span class="text-danger">*</span></label>
  <input type="number"
         class="form-control"
         placeholder="Enter security deposit"
         formControlName="securityDeposit"
         [class.is-invalid]="f['securityDeposit'].touched && f['securityDeposit'].invalid" />
  <div class="invalid-feedback">Security deposit is required.</div>
</div> -->

<!-- Special Requirements (Now Below Rent & Deposit) -->
<!-- <div class="col-12">
  <label class="form-label">Special Requirements</label>
  <textarea rows="3"
            class="form-control"
            formControlName="specialReq"
            placeholder="Enter any special requirements (optional)">
  </textarea>
</div>


            

          </div> --> <!-- END row -->

          <!-- Continue button UNDER the form, not inside a column -->
     <!--      <button type="button"
                  class="btn btn-success mt-4 float-end"
                  (click)="goToStep(2)">
            Continue → Payment
          </button>

        </form>
      </div>
    </div>
  </div> -->
  <!-- STEP 2 - PAYMENT -->
<!--   <div *ngIf="step === 2">
    <div class="card shadow-sm mb-4">
      <div class="card-header bg-warning">
        <h5 class="mb-0">Step 2: Payment Details</h5>
      </div>

      <div class="card-body">
        <form [formGroup]="paymentForm">

          <div class="row g-3">

            <div class="col-12">
              <label class="form-label">Payment Method</label>
              <select class="form-select" formControlName="paymentMethod">
                <option>Cash</option>
                <option>UPI</option>
                <option>Credit/Debit Card</option>
                <option>Bank Transfer</option>
              </select>
            </div>

            <div class="col-12">
              <label class="form-label">Total Amount</label>
              <input type="text" class="form-control" value="₹30,000" disabled />
            </div>

            <div class="col-12">
              <label class="form-label">Payment Notes</label>
              <textarea class="form-control" rows="2"
                        placeholder="Optional"
                        formControlName="notes"></textarea>
            </div>

          </div>

          <button type="button"
                  class="btn btn-secondary mt-4"
                  (click)="goToStep(1)">
            ← Back
          </button>

          <button type="button"
                  class="btn btn-warning mt-4 float-end"
                  (click)="goToStep(3)">
            Make Payment
          </button>

        </form>
      </div>

    </div>
  </div> -->


  <!-- STEP 3 - CONFIRMATION -->
  <!-- <div *ngIf="step === 3">
    <div class="card shadow-sm mb-4">
      <div class="card-header bg-info text-white">
        <h5 class="mb-0">Step 3: Booking Confirmed</h5>
      </div>

      <div class="card-body text-center">
        <div class="alert alert-success">
          <h5 class="fw-bold">Booking Successful!</h5>
          <p>Your booking has been recorded and confirmation email sent.</p>
        </div>

        <button class="btn btn-primary" (click)="goToStep(2)">← Back</button>
      </div>
    </div>
  </div>

</div>
 -->

 <div class="container">

  <!-- ================= STEP 1 : BOOKING DETAILS ================= -->
  <div *ngIf="step === BookingStep.Booking">
    <div class="card shadow-sm mb-4">
      <div class="card-header bg-success text-white">
        <h5 class="mb-0">Step 1: Booking Details</h5>
      </div>

      <div class="card-body">
        <form [formGroup]="bookingForm">

          <div class="row g-3">

            <!-- Property -->
            <div class="col-md-6">
              <label class="form-label">Property</label>
              <input type="text" class="form-control" value="Property A" disabled />
            </div>

            <!-- Room Type -->
            <div class="col-md-6">
              <label class="form-label">Room Type</label>
              <input type="text" class="form-control" value="Single Bed" disabled />
            </div>

            <!-- Move-in Date -->
            <div class="col-md-6">
              <label class="form-label">
                Move-in Date <span class="text-danger">*</span>
              </label>
              <input
                type="date"
                class="form-control"
                formControlName="moveInDate"
                [class.is-invalid]="f['moveInDate'].touched && f['moveInDate'].invalid" />
              <div class="invalid-feedback">
                Move-in date is required
              </div>
            </div>

            <!-- Duration -->
            <div class="col-md-6">
              <label class="form-label">
                Duration (Months) <span class="text-danger">*</span>
              </label>
              <select
                class="form-select"
                formControlName="duration"
                [class.is-invalid]="f['duration'].touched && f['duration'].invalid">
                <option value="">Select Duration</option>
                <option *ngFor="let m of monthsList" [value]="m">
                  {{ m }} Month(s)
                </option>
              </select>
              <div class="invalid-feedback">
                Duration is required
              </div>
            </div>

            <!-- Hidden Checkout Date -->
            <input type="hidden" formControlName="checkOutDate" />

            <!-- Monthly Rent -->
            <div class="col-md-6">
              <label class="form-label">Monthly Rent  <span class="text-danger">*</span></label>
              <input type="number"
                class="form-control"
                formControlName="monthlyRent"
                readonly />
            </div>

            <!-- Security Deposit -->
            <div class="col-md-6">
              <label class="form-label">Security Deposit</label>
              <input type="text" class="form-control" value="2000" disabled />
            </div>

            <!-- Special Requirements -->
            <div class="col-12">
              <label class="form-label">Special Requirements</label>
              <textarea
                rows="3"
                class="form-control"
                formControlName="specialReq"
                placeholder="Optional">
              </textarea>
            </div>

          </div>

         <button
           type="button"
           class="btn btn-success mt-4 float-end"
           (click)="continueToPayment()">
          Continue → Payment
          </button>

        </form>
      </div>
    </div>
  </div>

  <!-- ================= STEP 2 : PAYMENT DETAILS ================= -->
  <div *ngIf="step === BookingStep.Payment">
    <div class="card shadow-sm mb-4">
      <div class="card-header bg-warning">
        <h5 class="mb-0">Step 2: Payment Details</h5>
      </div>

      <div class="card-body">
        <form [formGroup]="paymentForm" (ngSubmit)="submitPayment()">

          <div class="row g-3">

            <!-- Payment Method -->
            <div class="col-12">
              <label class="form-label">Payment Method</label>
              <select class="form-select" formControlName="paymentMethod">
                <option>Cash</option>
                <option>UPI</option>
                <option>Credit/Debit Card</option>
                <option>Bank Transfer</option>
              </select>
            </div>

            <!-- Total Amount -->
            <div class="col-12">
              <label class="form-label">Total Amount</label>
              <input
                type="number"
                class="form-control"
                formControlName="totalAmount"
                readonly />
            </div>

            <!-- Notes -->
            <div class="col-12">
              <label class="form-label">Payment Notes(Optional)</label>
              <textarea
                class="form-control"
                rows="2"
                placeholder="Optional"
                formControlName="notes">
              </textarea>
            </div>

          </div>

          <button
            type="button"
            class="btn btn-secondary mt-4"
            (click)="goToStep(BookingStep.Booking)">
            ← Back
          </button>

          <button
            type="submit"
            class="btn btn-warning mt-4 float-end">
            Make Payment
          </button>

        </form>
      </div>
    </div>
  </div>

  <!-- ================= STEP 3 : CONFIRMATION ================= -->
  <div *ngIf="step === BookingStep.Confirmation">
    <div class="card shadow-sm mb-4">
      <div class="card-header bg-info text-white">
        <h5 class="mb-0">Booking Confirmed</h5>
      </div>

      <div class="card-body text-center">
        <div class="alert alert-success">
          <h5 class="fw-bold">Payment Successful 🎉</h5>
          <p>Your booking has been completed successfully.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- ================= CONFIRM MODAL ================= -->
  <div class="modal fade" id="confirmBookingModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Confirm Booking</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          Are you sure you want to confirm this booking?
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">
            Cancel
          </button>
          <button class="btn btn-primary" (click)="confirmBooking()">
            Confirm
          </button>
        </div>

      </div>
    </div>
  </div>

</div>

