.card {
  border-radius: 10px;
}

table tbody tr:hover {
  background: #f4f4f4;
}

.badge {
  font-size: 13px;
}
.action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;               /* space between buttons */
}

/* EDIT */
.btn-edit {
  color: #0d6efd;
  border: 2px solid #0d6efd;
  background: transparent;
  padding: 6px 14px;
  font-size: 13px;
  cursor: pointer;
}

/* DELETE */
.btn-delete {
  color: #dc3545;
  border: 2px solid #dc3545;
  background: transparent;
  padding: 6px 14px;
  font-size: 13px;
  cursor: pointer;
}

