<div class="card p-3 shadow-sm">
  <h5 class="mb-3">User Details</h5>

  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th style="width: 150px;">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let u of users; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ u.FirstName }}</td>
        <td>{{ u.LastName }}</td>
        <td>{{ u.EmailAddress }}</td>
        <td>{{ u.PhoneNumber }}</td>
     <td>
     <div style="display:flex; gap:8px; justify-content:center;">
    
      <button
      style="
        color:#0d6efd;
        border:2px solid #0d6efd;
        background:transparent;
        padding:6px 14px;
        font-size:13px;
        cursor:pointer;
      "
      (click)="editUser(u)"
      >
        EDIT
      </button>

      <button
      style="
        color:#dc3545;
        border:2px solid #dc3545;
        background:transparent;
        padding:6px 14px;
        font-size:13px;
        cursor:pointer;
      "
      (click)="deleteUser(u.UserId)"
      >
        DELETE
      </button>

    </div>
  </td>



      </tr>
    </tbody>
  </table>
</div>



<!-- EDIT USER MODAL -->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Edit User</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <label class="form-label">First Name</label>
        <input class="form-control mb-2" [(ngModel)]="selectedUser.FirstName">

        <label class="form-label">Last Name</label>
        <input class="form-control mb-2" [(ngModel)]="selectedUser.LastName">

        <label class="form-label">Email Address</label>
        <input class="form-control mb-2" [(ngModel)]="selectedUser.EmailAddress">

        <label class="form-label">Phone Number</label>
        <input class="form-control mb-2" [(ngModel)]="selectedUser.PhoneNumber">

      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" (click)="saveUser()">Save Changes</button>
      </div>

    </div>
  </div>
</div>
